
.header {
  width: 100%;
  height: 80px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 4%;
  }
  
  .Search {
    display: flex;
    padding: 5px 10px;
    border-radius: 4px;
    gap: .75rem;
  }
  .Search input{
    background-color: #444;
    color: #fff;
    width: 100%;
    max-width: 400px;
    height: 50px;
    border-radius: 16px;
    padding: 0 1rem;
    border: none;
  }
  .Search input:focus{
    outline: 3px solid #333;
  }

  .button{
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: #09f;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 16px;
    transition: all .2s ease-in-out;;
}

.button:hover{
    background-color: color-mix(in srgb, #09f, #000 20%);
    cursor: pointer;
    transform: scale(0.95);
}

.nav{ 
  display: flex;
  gap: 1rem;
}

.nav a{
    padding-inline: 1rem;
    background-color: #000;
    font-weight: bold;
}

.nav a:hover{
  background-color: color-mix(in srgb, #444, #000 20%);
}



.header_log{
  display: flex;
  gap: 1rem;
}
.header_log button{
  color: #000;
  background-color: blueviolet;
}

.header_log button:hover{
  background-color: color-mix(in srgb, blueviolet, #000 20%);
}